tomli==2.4.0
threadpoolctl==3.6.0
cloudpickle==3.1.2
pip==25.2
requests==2.32.5
whichcraft==0.6.1
exceptiongroup==1.3.1
gymnasium==1.1.1
tzdata==2025.3
pytz==2025.2
scipy==1.13.1
munch==4.0.0
portpicker==1.6.0
matplotlib==3.9.4
matrixgames==0.0.2
certifi==2026.1.4
colorama==0.4.6
jsonpickle==4.1.1
platformdirs==4.4.0
pydantic==2.12.5
ImageIO==2.37.2
snakeviz==2.2.2
torch==2.8.0
protobuf==6.33.5
websocket-client==1.9.0
filelock==3.19.1
seaborn==0.13.2
Farama-Notifications==0.0.4
PyYAML==5.3.1
tornado==6.5.4
idna==3.11
pbr==7.0.3
setuptools==80.9.0
scikit-learn==1.6.1
click==8.1.8
rware==2.0.0
numpy==2.0.2
fsspec==2025.10.0
Rtree==1.0.0
charset-normalizer==3.4.4
sympy==1.14.0
pyglet==1.5.31
torchvision==0.23.0
kiwisolver==1.4.7
eval_type_backport==0.3.1
wrapt==1.17.3
contourpy==1.3.0
absl-py==2.3.1
mpyq==0.2.5
sk-video==1.1.10
py==1.11.0
gitdb==4.0.12
importlib_metadata==8.7.1
python-dateutil==2.9.0.post0
mpmath==1.3.0
fonttools==4.60.2
pytest==8.4.2
Cython==0.29.37
pydantic_core==2.41.5
urllib3==2.6.3
probscale==0.2.5
typing_extensions==4.15.0
joblib==1.5.3
cycler==0.12.1
Jinja2==3.1.6
wheel==0.45.1
pyparsing==3.3.2
pandas==2.3.3
tensorboard-logger==0.1.0
MarkupSafe==3.0.3
pygame==2.6.1
wandb==0.25.0
GitPython==3.1.46
sacred==0.8.7
pluggy==1.6.0
Pygments==2.19.2
attrs==25.4.0
networkx==3.2.1
docopt-ng==0.9.0
packaging==26.0
py-cpuinfo==9.0.0
smmap==5.0.2
pillow==11.3.0
psutil==7.2.2
sentry-sdk==2.53.0
iniconfig==2.1.0
typing-inspection==0.4.2
zipp==3.23.0
annotated-types==0.7.0
smaclite==0.0.1
six==1.17.0
importlib_resources==6.5.2
jaraco.text==3.12.1
jaraco.collections==5.1.0
importlib_metadata==8.0.0
jaraco.functools==4.0.1
jaraco.context==5.3.0
inflect==7.3.1
autocommand==2.2.2
backports.tarfile==1.2.0
typeguard==4.3.0
packaging==24.2
wheel==0.45.1
zipp==3.19.2
tomli==2.0.1
typing_extensions==4.12.2
more-itertools==10.3.0
platformdirs==4.2.2
